<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a href="./dashboard" class="nav-link">
        <img src="../favicon.ico" style="height: 4vh; margin: 2vh;">
        <span class="title">Chess4you</span>
    </a>
  </div>
  <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
  </div>
  </header>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet> 
      </div>
  </div>
</div>