.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  widows: 100%;
}
.row {
  margin: 0px;
  padding: 0px;
}
.field {
  margin: 0px;
  padding: 0px;
  height: 75px;
  width: 75px;
}
.has-background-dark {
  background-color:#AA4500;
}
.has-background-light {
  background-color:#FFCD97;
}
.has-background-success{
  background-color: #48960C;
}
