<div class="clr-row clr-justify-content-around" style="height: 100%;">
  <div class="clr-col-auto clr-align-self-center">
    <div class="card">
      <div class="card-header">
        <h1>Game:
          <span [hidden]="(gameDataObs | async)?.gameName" class="spinner spinner-md" #loading></span>
          {{ (gameDataObs | async)?.gameName}}
        </h1>
      </div>
      <div class="card-block">
        <div class="clr-row clr-justify-content-center">
          <div class="clr-col-4">
            <div>
              <h3><span [hidden]="(gameDataObs | async)?.gameName" class="spinner spinner-inline" #loading></span></h3>
              <h4>{{ (gameDataObs | async)?.firstPlayer.playerName }}</h4>
            </div>
          </div>
          <div class="clr-col-4">
            <h4><span class="label label-white">Vs</span></h4>
          </div>
          <div class="clr-col-4">
            <div>
              <h4><span [hidden]="(gameDataObs | async)?.gameName" class="spinner spinner-inline" #loading></span></h4>
              <h4>{{ (gameDataObs | async)?.secondPlayer.playerName }}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h3>Enjoy the game!</h3>
      </div>
    </div>
  </div>

  <div class="clr-col-6 clr-align-self-center">
    <clr-alerts>
      <clr-alert *ngFor="let message of messageList" [clrAlertType]="'info'" [clrAlertAppLevel]="true" (clrAlertClosedChange)="onInfoMessageClose(message)">
        <clr-alert-item>
          <span class="alert-text">
            {{ message }}
          </span>
        </clr-alert-item>
      </clr-alert>
    </clr-alerts>
    <div class="board">
      <div *ngFor="let row of (chessBoardObs | async)?.board ; let PosY = index; let IsRowDark = even; let IsRowLight = odd" class="row has-flex-box has-no-space">
        <div *ngFor="let field of row; let PosX = index; let IsFieldDark = even; let IsFieldLight = odd"
        class="field has-no-space"
        [ngClass]="( (IsRowDark && IsFieldDark) || (IsRowLight && IsFieldLight) )? 'has-background-dark' : 'has-background-light'">
          <img (click)="movePiece($event, field)" id="{{setImgId(PosY, PosX)}}" src="{{getImgSrc(field)}}" class="has-image-centered" />
        </div>
      </div>
    </div>
  </div>
</div>
