// variables board
$board-height: 80vh;
$min-board-height: 450px;
$board-width: 85vh;
$min-board-width: 400px;

// variables row
$row-height: 10vh;
$min-row-height: 50px;
$row-widht: 80vh;
$min-row-width: 400px;

// variables field
$field-height: 10vh;
$min-field-height: 50px;
$field-width: 10vh;
$min-field-width: 50px;

.alert-width {
  margin-left: 0px;
  margin-right: 0px;
  width: 94.25%;
  height: 100%;
}
.box{
  width: 100%;
  height: 37.6px;
}

.board {
  min-height: $min-board-height;
  min-width: $min-board-width;
  height: $board-height;
  width: $board-width;
  margin-left: 25%;
}
.has-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.row {
  min-height: $min-row-height;
  min-width: $min-row-width;
  height: $row-height;
  width: $row-widht;
}
.field {
  min-height: $min-field-height;
  min-width: $min-field-width;
  height: $field-height;
  width: $field-width;
}

.has-no-space {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.has-background-dark {
  background-color:#AA4500;
}
.has-background-light {
  background-color:#FFCD97;
}
.has-background-success-light{
  background-color: rgba(255, 205, 151, 0.4);
}
.has-background-success-dark{
  background-color: rgba(170, 69, 0, 0.4);
}
.has-image-centered{
  margin: 0 auto;
  display: block;
  height: 100%;
  width: 100%;
}
