.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 500px;
  min-width: 500px;
  height: 100%;
  width: 100%;
}
.row {
  margin: 0px;
  padding: 0px;
}
.field {
  margin: 0px;
  padding: 0px;
  min-height: 61px;
  min-width: 61px;
  height: 11vh;
  width: 11vh;
}
.has-background-dark {
  background-color:#AA4500;
}
.has-background-light {
  background-color:#FFCD97;
}
.has-background-success{
  background-color: #48960C;
}

